{
  "plugins": [
    "transform-runtime",
    "transform-strict-mode",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "debug": true,
        "useBuiltIns": true
      }
    ]
  ]
}
