div.modal(aria-modal="true", role="dialog", tabindex="-1")
  div.modal-inner
    button.modal-exit(aria-label="Close Modal", data-modal-close, tabindex="1")
      svg(viewBox="0 0 40 40", focusable="false", aria-hidden="true")
        path(d="M 10,10 L 30,30 M 30,10 L 10,30", stroke="#252832")
    div.modal-content