//
  ++

  Special Thanks to Current/Former Mentors/Colleagues!

  Brooklyn Public Library
  -----------------------
  Eleanor Bukowsky

  NYC Department of Buildings
  ---------------------------
  Riley Tonge

  Microsoft
  ---------
  John Paul Farmer
  Matt Stempeck
  Fatima Khalid
  Jenny Shore
  Ady Sevy
  Rasmi Elasmar
  David Lorente
  Hessvacio Hassan

  BetaNYC
  -------
  Noel Hidalgo
  Chris Whong

  Smart Alec
  ----------
  Nathan Kane
  Nir Goshen
  Armen Vartan
  Max Perry Perinato
  Vladislav Mickevic
  Pierrick Ganon
  Maxwell DeChiara
  Kate Eldridge
  Katie Mears

  Apologies in advance for those I may have forgotten to mention.

  ++