$icon-path: "../images/icons/";

.permalink {
  font-size: 1.25rem;
  width: 1em !important;
  height: 1em !important;
  display: inline-block;
  position: absolute;
  left: -1.6em;
  top: 50%;
  transform: translate3d(0, -50%, 0);

  &::after {
    content: "";
    background-size: 100%;
    background-image: url("#{$icon-path}paper-clip.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
  }
}

/*
 * A11Y - Hiding Content
 * https://a11yproject.com/posts/how-to-hide-content/
 */
.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  // opacity: 0; /* Commented out. Otherwise, paragraphs in experience-info cannot have visually-hidden content read by assistive technology. */
}

.js-focus-visible {
  :focus:not(.focus-visible) {
    outline: none;
  }

  .visually-hidden.focus-visible {
    // opacity: 1;
    clip: auto;
    height: auto;
    width: auto;
  }
}

.skip-links {
  position: relative;

  &__list {
    &__item {
      a {
        text-transform: uppercase;
        top: 1em;
        left: 1.125em;
        font-size: 0.875rem;
        color: #478bd7;
        letter-spacing: 0.02em;

        @media only screen and (min-width: 30rem) {
          top: 1.25em;
          left: 1.5em;
        }

        @media only screen and (min-width: 48rem) {
          font-size: 0.9375rem;
        }

        @media only screen and (min-width: 64rem) {
          top: 1.5em;
          left: 2em;
          font-size: 1rem;
        }
      }
    }
  }
}

.route-skip-link {
  font-size: 1.5rem;
  color: #478bd7;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  margin-left: -0.75em;

  @media only screen and (min-width: 30rem) {
    font-size: 2rem;
  }

  @media only screen and (min-width: 48rem) {
    font-size: 2.5rem;
    margin-left: -1em;
  }

  @media only screen and (min-width: 64rem) {
    font-size: 3rem;
  }

  @media only screen and (min-width: 75rem) {
    font-size: 3.5rem;
  }

  &:before {
    content: "\21FD";
    display: block;
  }
}

.experience {
  &__title {
    a {
      &::after {
      }
    }
  }

  .repeat-features {
    transform: rotate(-90deg) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 51%; /* Resolves blurriness when rotated: https://stackoverflow.com/questions/23871507/css-transforms-why-does-a-simple-rotation-make-the-image-blurry */
    margin-left: 1em;
  }
}

.technology {
  &__title {
    .permalink {
      &::after {
      }
    }
  }
}
