$min-widths: 30rem 36rem 42rem 48rem 56rem 64rem 70rem 75rem 80rem 85rem;

@mixin responsive-bottom($bottoms) {
  @if length($bottoms) > 0 {
    @for $i from 1 through length($bottoms) {
      $bottom: nth($bottoms, $i);
      $min-width: nth($min-widths, $i);

      @media only screen and (min-width: $min-width) {
        bottom: $bottom;
      }
    }
  }
}

@keyframes moveCloud {
  0% {
    opacity: 0;
    left: -1080px;
  }

  2%,
  98% {
    opacity: 0.7;
  }

  to {
    opacity: 0;
    left: 1780px;
  }
}

.cloud {
  position: absolute;
  opacity: 0;
  animation: moveCloud 120s linear;
}

.cloud--loop {
  animation: moveCloud 120s linear infinite;
}

.cloud--1 {
  height: 2.375em;

  @media only screen and (min-width: 30rem) {
    height: 2.875em;
  }

  @media only screen and (min-width: 48rem) {
    height: 3.375em;
  }
}

.cloud--2 {
  height: 1.25em;

  @media only screen and (min-width: 30rem) {
    height: 1.75em;
  }

  @media only screen and (min-width: 48rem) {
    height: 2.25em;
  }
}

.cloud--3 {
  height: 2.25em;

  @media only screen and (min-width: 30rem) {
    height: 2.75em;
  }

  @media only screen and (min-width: 48rem) {
    height: 3.25em;
  }
}

#cloud-1,
#cloud-2 {
  animation-delay: 0s;
  animation-duration: 120s;
}

#cloud-1 {
  margin-left: 880px;

  @include responsive-bottom(14em 13em 14em 16em 17em 20em 20em 24em 24em 23em);
}

#cloud-2 {
  margin-left: 1580px;
  @include responsive-bottom(15em 14em 15em 17em 18em 21em 21em 25em 25em 24em);
}

#cloud-3,
#cloud-4 {
  animation-delay: 0s;
}

#cloud-3 {
  margin-left: 1680px;
  animation-duration: 120s;

  @include responsive-bottom(11em 10em 11em 13em 14em 17em 17em 21em 21em 20em);
}

#cloud-4 {
  animation-duration: 119.9s;

  @include responsive-bottom(15em 14em 15em 17em 18em 21em 21em 25em 25em 24em);
}

#cloud-5 {
  animation-delay: 18s;
  animation-duration: 120.2s;

  @include responsive-bottom(15em 14em 15em 17em 18em 21em 21em 25em 25em 24em);
}

#cloud-6,
#cloud-7 {
  animation-delay: 42s;
  animation-duration: 120.3s;

  @include responsive-bottom(12em 11em 12em 14em 15em 18em 18em 22em 22em 21em);
}

#cloud-7 {
  animation-delay: 60s;
  animation-duration: 119.9s;

  @include responsive-bottom(17em 16em 17em 19em 20em 23em 23em 27em 27em 26em);
}

#cloud-8 {
  animation-delay: 72s;
  animation-duration: 120.1s;

  @include responsive-bottom(15em 14em 15em 17em 18em 21em 21em 25em 25em 24em);
}

#cloud-9 {
  animation-delay: 108s;
  animation-duration: 120.15s;

  @include responsive-bottom(13em 12em 13em 15em 16em 19em 19em 23em 23em 22em);
}
