.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  visibility: hidden;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.2s;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.modal-visible {
  overflow: hidden;
}

.vanilla-modal.modal-visible .modal.modal--sr-visible {
  visibility: visible;
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
}

.modal-inner {
  position: relative;
  overflow: hidden;

  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;

  height: 100%;
  max-height: 100%;
  max-width: 100%;

  @media only screen and (min-width: 30rem) {
    max-width: 90%;
    max-height: 90%;
    height: auto;
  }
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
  padding: 1em 2em;

  @media only screen and (min-width: 30rem) {
    border-radius: 4px;
  }
}

.modal-exit[data-modal-close] {
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  position: absolute;
  z-index: 2;
  right: 0.5em;
  top: 0.5em;
  width: 1em;
  height: 1em;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  background: #fff;

  svg {
    height: 100%;
  }
}
