.section {
  $root: &;

  min-height: 400px;

  &:nth-of-type(1) {
    padding-bottom: 16em;
    overflow: hidden;

    @media only screen and (min-width: 30rem) {
      padding-bottom: 20em;
    }

    @media only screen and (min-width: 48rem) {
      padding-bottom: 24em;
    }

    @media only screen and (min-width: 64rem) {
      padding-bottom: 28em;
    }

    @media only screen and (min-width: 75rem) {
      padding-bottom: 32em;
    }

    @media only screen and (min-width: 90rem) {
      padding-bottom: calc(
        100vw * 16 / 45
      ); /* Bottom padding at 1440px viewport width will start at 32em (512px) and increase proportionally with the viewport width (by a factor of 16 / 45, derived from the ratio between the former fixed bottom padding of 32em and the fixed section width of 90rem). */
    }
  }

  &:nth-last-of-type(2) {
    max-height: 32em;

    @media only screen and (min-width: 30rem) {
      max-height: 44em;
    }
  }

  &:nth-last-of-type(1) {
    min-height: 38em;

    @media only screen and (min-width: 30rem) {
      min-height: 32em;
    }

    @media only screen and (min-width: 48rem) {
      min-height: 34em;
    }
  }

  &--bg-empty {
    background-color: #ffffff;
  }

  &--bg-alt {
    background-color: #f6f9fc;
  }

  &__content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 90em;

    @media only screen and (min-width: 30rem) {
      padding: 0 2.5em;
    }

    @media only screen and (min-width: 48rem) {
      padding: 0 5em;
    }

    @media only screen and (min-width: 64rem) {
      padding: 0 7.5em;
    }

    @media only screen and (min-width: 75rem) {
      padding: 0 10em;
    }
  }
}
