-
  var technologies = [
    { filename: 'javascript', label: 'JavaScript' },
    { filename: 'typescript', label: 'TypeScript' },
    { filename: 'node', label: 'Node.js' },
    { filename: 'angularjs', label: 'AngularJS' },
    { filename: 'react', label: 'React' },
    { filename: 'vue', label: 'Vue.js' },
    { filename: 'd3', label: 'D3.js' },
    { filename: 'jquery', label: 'jQuery' },
    { filename: 'webpack', label: 'Webpack' },
    { filename: 'html5', label: 'HTML5' },
    { filename: 'css3', label: 'CSS3' },
    { filename: 'python', label: 'Python' },
    { filename: 'mongodb', label: 'MongoDB' },
    { filename: 'neo4j', label: 'Neo4j' },
    { filename: 'postgresql', label: 'PostgreSQL' },
    { filename: 'aws', label: 'AWS' },
    { filename: 'circleci', label: 'CircleCI' },
    { filename: 'docker', label: 'Docker' },
    { filename: 'git', label: 'Git' },
    { filename: 'sketch', label: 'Sketch' }
  ];

mixin technologyItems()
  each technology, index in technologies
    if index % 4 === 0
      | <div class="row row--mxxs row--msm around-xs">
    div.col-xs-3.col--pxxs.col--psm.col-sm-3.col-md-3.col-lg-3
      div.technology__item
        img.technology__item__img(src=require(`./assets/images/icons/${ technology.filename }.svg`), alt=technology.label)
        p.technology__item__label= technology.label
    if index % 4 === 3 || index === technologies.length - 1
      | </div>