section.section.section--bg-empty
  div.section__content#contact-form
    div.contact-form(role="form", lang="en-US", dir="ltr")
      h2.contact-form__title
        a.permalink.visually-hidden(href="#contact-form", aria-label="Contact Form Permalink")
        span(tabindex="0") Contact Form
      p.contact-form__desc Want to get in touch? Fill out this form, and I'll try my best to get back to you.
      form.form.form--contact(name="contact", action=htmlWebpackPlugin.options.sesEndpoint, method="POST", tabindex="0", aria-label="To Reach Ken, Fill Out This Form With The Required Information")
        input.honeypot(type="input", name="honeypot", value="", tabindex="-1", autocomplete="off")
        div.form__group
          label.form__label(for="name")
            span Full Name
          input.form__element(type="text", name="name", id="name", autocomplete="off", required)
        div.form__group
          label.form__label(for="reply_to")
            span E-Mail Address
          input.form__element(type="email", name="reply_to", id="reply_to", autocomplete="off", required)
        div.form__group
          label.form__label(for="subject")
            span Subject
          input.form__element(type="text", name="subject", id="subject", autocomplete="off", required)
        div.form__group
          label.form__label(for="message")
            span Message
          textarea.form__element(name="message", id="message", cols="30", rows="10", required)
        div.form__footer
          button.btn.btn--primary.btn--lg(type="submit") Submit
      div.visually-hidden#sr-form-alert(role="alert", aria-atomic="true")
      div.contact-form__status#message-status(data-modal-label="Status of Sent Message")
        div.status-alert(tabindex="0")
          p.status-alert__message
          button.btn.btn--primary.status-alert__btn(data-modal-close) Okay