include ../mixins/technology-grid

-
  var technologyGraphic = '<file-svg src="assets/images/technology.svg" />';

section.section.section--bg-alt.edge.edge--top
  div.section__content
    img.abstract-shape(src=require("./assets/images/abstract-shape.svg"), alt="Abstract Shape")
    img.abstract-shape(src=require("./assets/images/abstract-shape.svg"), alt="Abstract Shape")
    div.technology
      h2.technology__title
        a.permalink.visually-hidden(href="#technology", aria-label="Technology Permalink")
        span(tabindex="0")
          span.visually-hidden Ken's Skill Set
          span Technology
      div.row.middle-xs
        div.col-xs-12.col-sm-6.col-md-6.col-lg-6
          div.technology__graphic(role="img", tabindex="0", aria-label="A modern workstation. On a white table, an iMac displays Visual Studio Code, a coding editor Ken uses on a daily basis.") !{technologyGraphic}
        div.col-xs-12.col-sm-6.col-md-6.col-lg-6
          +technologyGrid()